
{% load static %}

<link rel="stylesheet" type="text/css"
 href="{% static 'votacao/style.css' %}" />

<h3>
{% if latest_question_list %}
<ul>
 {% for questao in latest_question_list %}
 <li>
  <a href="{% url 'votacao:detalhe' questao.id %}" class="button3"> {{ questao.questao_texto }} </a>
 </li>
 {% endfor %}
</ul>
{% else %}
<p>Nao ha questoes disponiveis.</p>
{% endif %}
 </h3>
<p>
 <a href="{%url 'votacao:novaquestao' %}"> Nova questão</a>
</p>
<p>
 <a href="{%url 'votacao:listarquestao' %}"> Apagar questão</a>
</p>

<img src="{% static 'votacao/images/alvalade.jpg' %}">