h2{
  border: 1px solid;
  text-align:center;
  text-shadow: 1px 1px 3px #6bba61;
  background-color: #eee;
  padding: 10px
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.9;
}

.buttonred {
  background-color: #e00d0d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.9;
}

.buttoninfo {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  cursor: pointer;
  opacity: 0.9;
}

/* Style the container with a rounded border, grey background and some padding and margin */
.container {

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  background-color: #eee;
  border-radius: 2%;
}


/* Clear floats after containers */
.container::after {
content: "";
clear: both;
display: table;
}

/* Float images inside the container to the left. Add a right margin, and style the image as a circle */
.container img {
float: left;
margin-top: 15px;
margin-right: 20px;
border-radius: 10%;
}

.container a {
float: left;
margin-bottom: 10px;
}

/* Increase the font-size of a span element */
.container span {
font-size: 20px;
margin-right: 15px;
}

/* Add media queries for responsiveness. This will center both the text and the image inside the container */
@media (max-width: 500px) {
.container {
  text-align: center;
}

.container img {
  margin: auto;
  float: none;
  display: block;
}
}
  