{% load static %}

<link rel="stylesheet" type="text/css"
    href="{% static 'projeto/style.css' %}" />


  <div class="header">
    <a href="{% url 'projeto:index' %}" class="logo">NEEDINS</a>
    <div class="header-right">
        <a href="{% url 'projeto:index' %}">INÍCIO</a>
        <a href="{% url 'projeto:eventos' %}">EVENTOS</a>
        <a href="{% url 'projeto:parceiros' %}">PARCEIROS</a>
        <a href="{% url 'projeto:sobrenos' %}">SOBRE NÓS</a>
        <a href="{% url 'projeto:login' %}">LOGIN</a>
        <a href="{% url 'projeto:registo' %}">REGISTAR</a>
    </div>
</div>

<div class="footer">
    <p>NEEDINS | Copyright 2021</p>
</div>

<h1>Criar Evento</h1>
<form action="{% url 'projeto:guardar_evento' %}" method="post">
  {% csrf_token %}
  <label for="nome_evento">Nome do Evento:</label>
  <input type="text" id="nome_evento" name="nome_evento"><br>
  <br>
    <label for="descricao_evento"> Descrição: </label>
    <input type="text" id="descricao_evento" name="descricao_evento"><br>
<br>
    <label for="local"> Local: </label>
    <input type="text" id="local" name="local"><br>
<br>
     <label for="data"> Data: </label>
    <input type="datetime-local" id="data" name="data"><br>
<br>



  <input type="submit" value="Criar evento e voltar à lista de eventos">
</form>

