{% extends "projeto/base.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'projeto/login.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'projeto/titles.css' %}" />
{% endblock %}

{% block content %}
<title>Needins - Meus Eventos</title>

<br></br>
<br></br>
<form action="{% url 'projeto:criar_evento' %}" method="post">
  {% csrf_token %}
  <div class="box">
  <h1 class="heading">Criar Evento</h1>

  <input type="text" placeholder="Nome Evento" id="nome_evento" name="nome_evento" class="email" required/>
  <br></br>
  <input type="text" placeholder="Descrição" id="descricao_evento" name="descricao_evento" style="height: 60px; width:250px" class="email" required>
  <br></br>
  <input type="text" placeholder="Local" id="local" name="local" class="email" required>
  <br></br>
  <input type="datetime-local" id="data" name="data" class="email" required><br>

  {% if error_message %}
  <p style="color: red"><strong>{{ error_message }}</strong></p>
  {% endif %}

  <input type="submit" class="btn" value="Criar Evento">


  </div> <!-- End Box -->
</form>

{% endblock %}