{% load static %}

<link rel="stylesheet" type="text/css"
    href="{% static 'projeto/style.css' %}" />


  <div class="header">
    <a href="{% url 'projeto:index' %}" class="logo">NEEDINS</a>
    <div class="header-right">
        <a href="{% url 'projeto:index' %}">INÍCIO</a>
        <a class="active" href="{% url 'projeto:eventos' %}">EVENTOS</a>
        <a href="{% url 'projeto:parceiros' %}">PARCEIROS</a>
        <a href="{% url 'projeto:sobrenos' %}">SOBRE NÓS</a>
       {% if request.user.is_authenticated %}
        <a href="{% url 'projeto:profile' %}">PROFILE</a>
        {% else %}
        <a href="{% url 'projeto:user_login' %}">LOGIN</a>
        <a href="{% url 'projeto:registo' %}">REGISTAR</a>
        {% endif %}
    </div>
</div>

<div class="footer">
    <p>NEEDINS | Copyright 2021</p>
</div>


<h2>{{ evento.nome }}</h2>

<p> Descrição: {{evento.descricao}} </p>

<p> Local: {{evento.local}} </p>

<p> Data: {{evento.data}} </p>