{% extends "projeto/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'projeto/eventos.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'projeto/colunas.css' %}" />
{% endblock %}


{% block content %}
<title>Needins - Eventos</title>

<div class="row" style="background-color: #dfebe2">
    <div class="column" >
    <h2 style="text-align:center;text-shadow: 1px 1px 3px #6bba61;">{{ current_month }}</h2>

    {% if current_month_list %}
    {% for evento in current_month_list %}
        <div class="container">
            {% with "/static/projeto/users/"|add:evento.organizacao.img_name as imagem %}
            <img src="{{ imagem }}" alt="Avatar" width="90" height="90">
            {% endwith %}
            <p><span> {{ evento.nome }} - {{ evento.organizacao.nome }} </span></p>
            <p> {{ evento.data }} </p>
            <a href="{%url 'projeto:detalhe_evento' evento.id %}" class="btn"> Informações </a>
        </div>
    {% endfor %}

    {% else %}
    <p style="text-align:center">Não há Eventos disponiveis.</p>
    {% endif %}
    </div>

    <div class="column">
    <h2 style="text-align:center;text-shadow: 1px 1px 3px #6bba61;">{{ next_month }}</h2>
    {% if next_month_list %}
    {% for evento in next_month_list %}
        <div class="container">
            {% with "/static/projeto/users/"|add:evento.organizacao.img_name as imagem %}
            <img src="{{ imagem }}" alt="Avatar" width="90" height="90">
            {% endwith %}
            <p><span> {{ evento.nome }} - {{ evento.organizacao.nome }} </span></p>
            <p> {{ evento.data }} </p>
            <a href="{%url 'projeto:detalhe_evento' evento.id %}" class="btn"> Informações </a>
        </div>
    {% endfor %}

    {% else %}
    <p style="text-align:center">Não há Eventos disponiveis.</p>
    {% endif %}
    </div>

    <div class="column">
    <h2 style="text-align:center;text-shadow: 1px 1px 3px #6bba61;">{{ next_next_month }}</h2>
    {% if next_next_month_list %}
    {% for evento in next_next_month_list %}
        <div class="container">
            {% with "/static/projeto/users/"|add:evento.organizacao.img_name as imagem %}
            <img src="{{ imagem }}" alt="Avatar" width="90" height="90">
            {% endwith %}
            <p><span> {{ evento.nome }} - {{ evento.organizacao.nome }} </span></p>
            <p> {{ evento.data }} </p>
            <a href="{%url 'projeto:detalhe_evento' evento.id %}" class="btn"> Informações </a>
        </div>
    {% endfor %}

    {% else %}
    <p style="text-align:center">Não há Eventos disponiveis.</p>
    {% endif %}
    </div>

</div>



{% endblock %}