{% load static %}

<link rel="stylesheet" type="text/css"
    href="{% static 'projeto/style.css' %}" />


  <div class="header">
    <a href="{% url 'projeto:index' %}" class="logo">NEEDINS</a>
    <div class="header-right">
        <a href="{% url 'projeto:index' %}">INÍCIO</a>
        <a class="active" href="{% url 'projeto:eventos' %}">EVENTOS</a>
        <a href="{% url 'projeto:parceiros' %}">PARCEIROS</a>
        <a href="{% url 'projeto:sobrenos' %}">SOBRE NÓS</a>
        <a href="{% url 'projeto:user_login' %}">LOGIN</a>
        <a href="{% url 'projeto:registo' %}">REGISTAR</a>
    </div>
</div>

<div class="footer">
    <p>NEEDINS | Copyright 2021</p>
</div>

{% if latest_question_list %}
<ul>
 {% for evento in latest_question_list %}
 <li>
  <a href="{% url 'projeto:detalhe_evento' evento.id %}"> {{ evento.nome }} </a>
 </li>
 {% endfor %}
</ul>
{% else %}
<p>Nao ha eventos disponiveis.</p>
{% endif %}

<p>
 <a href="{%url 'projeto:criar_evento' %}"> Criar Evento </a>
</p>