{% extends "projeto/base.html" %}





{% block content %}
<title>Needins - Eventos</title>

<div class="row">
    <div class="column">
    <h2>{{ current_month }}</h2>
    {% if current_month_list %}
    {% for evento in current_month_list %}
        <div class="container">
            <img {{ evento.organizacao.avatar }} alt="Avatar" style="width:90px">
            <p><span> {{ evento.nome }} - {{ evento.organizacao.nome }} </span></p>
            <p> {{ evento.data }} </p>
            <a href="{%url 'projeto:detalhe_evento' evento.id %}" class="buttoninfo"> Informações </a>
        </div>
    {% endfor %}

    {% else %}
    <p>Não há Eventos disponiveis.</p>
    {% endif %}
    </div>

    <div class="column">
    <h2>{{ next_month }}</h2>
    {% if next_month_list %}
    {% for evento in next_month_list %}
        <div class="container">
            <img {{ evento.organizacao.avatar }} alt="Avatar" style="width:90px">
            <p><span> {{ evento.nome }} - {{ evento.organizacao.nome }} </span></p>
            <p> {{ evento.data }} </p>
            <a href="{%url 'projeto:detalhe_evento' evento.id %}" class="buttoninfo"> Informações </a>
        </div>
    {% endfor %}

    {% else %}
    <p>Não há Eventos disponiveis.</p>
    {% endif %}
    </div>

    <div class="column">
    <h2>{{ next_next_month }}</h2>
    {% if next_next_month_list %}
    {% for evento in next_next_month_list %}
        <div class="container">
            <img {{ evento.organizacao.avatar }} alt="Avatar" style="width:90px">
            <p><span> {{ evento.nome }} - {{ evento.organizacao.nome }} </span></p>
            <p> {{ evento.data }} </p>
            <a href="{%url 'projeto:detalhe_evento' evento.id %}" class="buttoninfo"> Informações </a>
        </div>
    {% endfor %}

    {% else %}
    <p>Não há Eventos disponiveis.</p>
    {% endif %}
    </div>

</div>


{% if user.is_authenticated and user.organizacao.is_organizacao %}
<p>
 <a href="{%url 'projeto:criar_evento' %}" class="button"> Criar Evento </a>
</p>
{% endif %}

{% endblock %}