{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'projeto/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'projeto/index.css' %}" />

<div class="header">
    <a href="{% url 'projeto:index' %}" class="logo">NEEDINS</a>
    <div class="header-right">
        <a class="active" href="{% url 'projeto:index' %}">INÍCIO</a>
        <a href="{% url 'projeto:eventos' %}">EVENTOS</a>
        <a href="{% url 'projeto:parceiros' %}">PARCEIROS</a>
        <a href="{% url 'projeto:sobrenos' %}">SOBRE NÓS</a>
        <a>PROFILE</a>

    </div>
</div>

<div class="footer">
    <p>NEEDINS | Copyright 2021</p>
</div>

<!--<img src="{% static 'projeto/images/logoneedins.png' %}" alt="Paris"  width="40"  height="25" class="header a.logo"> -->
<img src="{% static 'projeto/images/needins2.png' %}" alt="Imagem Central" class="center">


