{% extends "projeto/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'projeto/login.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'projeto/titles.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'projeto/button.css' %}" />
{% endblock %}

{% block content %}
<br></br>
<br></br>
<title>Needins - Login</title>

<form action="{% url 'projeto:user_login' %}" method="post">
    {% csrf_token %}
    <div class="box">
    <h1 class="heading">Login</h1>
    
    <input type="text" placeholder="Username" id="username" name="username" required oninvalid="this.setCustomValidity('Este campo é obrigatório.')" oninput="this.setCustomValidity('')" class="email" />
    <br></br>
    <input type="password" placeholder="Palavra-passe" id="password" name="password" required oninvalid="this.setCustomValidity('Este campo é obrigatório.')" oninput="this.setCustomValidity('')" class="email" />
    <br></br>
    {% if error_message %}
    <p style="color: red"><strong>{{ error_message }}</strong></p>
    {% endif %}

    <input type="submit" class="btn" value="Continuar">
    
      
    </div> <!-- End Box -->    
</form>



{% endblock %}