{% extends "projeto/base.html" %}
{% load static %}
{% block content %}


<h2 style="text-align:center">PARCEIROS</h2>
<br></br>
{% if org_list %}
{% for organizacao in org_list %}
<div class="column">
    <div class="card">
      <img src="{% static 'projeto/images/vodafone.png' %}" alt="Tomás" style="width:100%">
      <div class="container">
        <h2>{{ organizacao.nome }}</h2>
        <p class="title">Informática e Gestão de Empresas @ ISCTE</p>
        <p>{{ organizacao.descricao }}</p>
        <p>{{ user.email }}</p>
        <p><a href = "mailto:{{ user.email }}?subject = Feedback&body = Message" class="button">Contacto</a></p>
      </div>
    </div>
  </div>

{% endfor %}
{% endif %}



{% if org_list %}
{% for organizacao in org_list %}
    <li>{{ organizacao.nome }}</li>
{% endfor %}
{% endif %}

{% endblock %}