{% extends "projeto/base.html" %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'projeto/login.css' %}" />
{% endblock %}


{% block content %}
<title>Needins - Registo</title>

<form action="{% url 'projeto:registo' %}" method="post">

    {% csrf_token %}
    <h2>Registo </h2>

    <input type="text" placeholder="Nome" id="first_name" name="first_name">


    <input type="text" placeholder="Apelido" id="last_name" name="last_name">
    <br>

    <input type="text" placeholder="Username" id="username"  name="username" required oninvalid="this.setCustomValidity('Este campo é obrigatório.')" oninput="this.setCustomValidity('')"/>


    <input type="email" placeholder="e-mail@gmail.com" id="email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" oninvalid="this.setCustomValidity('Este campo é obrigatório.')" oninput="this.setCustomValidity('')">
    <br>

    <input type="password" placeholder="Insere a Palavra-passe" id="password" name="password" required oninvalid="this.setCustomValidity('Este campo é obrigatório')" oninput="this.setCustomValidity('')">


    <input type="password" placeholder="Confirma a Palavra-passe" id="confirm_password" name="confirm_password" required oninvalid="this.setCustomValidity('Este campo é obrigatório')" oninput="this.setCustomValidity('')">
    <br>

    
    {% if error_message %}
    <p style="color: red"><strong>{{ error_message }}</strong></p>
    {% endif %}



    <input type="submit" class="registerbtn" value="Continuar">


<a class="button5" href="{% url 'projeto:registar_org' %}">Registar como Organização</a>

</form>


{% endblock %}