{% extends "projeto/base.html" %}

{% block content %}


<form action="{% url 'projeto:registar_org' %}" method="post" enctype="multipart/form-data">

    {% csrf_token %}
    <h2> Registo Organização </h2>

    <input type="text" placeholder="Nome da Organização" id="name_org" name="name_org">


    <input type="text" placeholder="Descrição da Organização" id="bio" name="bio">
    <br>

    <input type="text" placeholder="Username" id="username" name="username">


    <input type="text" placeholder="Insere o e-mail" id="email" name="email">
     <br>

    <input type="password" placeholder="Insere a Palavra-passe" id="password" name="password">


    <input type="password" placeholder="Confirma a Palavra-passe" id="confirm_password" name="confirm_password">
    <br>

    <input type="file"  id="img" name="img">
     <br>


    {% if error_message %}
    <p><strong>{{ error_message }}</strong></p>
    {% endif %}



    <input type="submit" class="registerbtn" value="Continuar">


</form>


{% endblock %}