{% extends "projeto/base.html" %}
{% load static %}



{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'projeto/sobre_nos.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'projeto/titles.css' %}" />
{% endblock %}


{% block content %}
<title>Needins - Sobre nós</title>

<h1 style="text-align:center;text-shadow: 1px 1px 3px #6bba61;">Equipa</h1>
<div class="row" style="background-color: #dfebe2">
  <div class="column">

    <div class="card">
      <div id="center">
      <img src="{% static 'projeto/images/nasci.png' %}" alt="Tomás">
      </div>
        <div class="container">
        <h2>Tomás Nascimento</h2>
        <p class="title">Informática e Gestão de Empresas @ ISCTE</p>
        <p>Natural de Lisboa, Tomás sempre gostou da área das tecnologias.</p>
        <p>Tomas_Nascimento@iscte-iul.pt</p>
        <p><a href = "mailto:Tomas_Nascimento@iscte-iul.pt?subject = Feedback&body = Message" class="button">Contacto</a></p>
      </div>
    </div>
  </div>

  <div class="column">

    <div class="card">
     <div id="center">
      <img src="{% static 'projeto/images/seb.png' %}" alt="Sebastião">
      </div>
      <div class="container">
        <h2>Sebastião Leal</h2>
        <p class="title">Informática e Gestão de Empresas @ ISCTE</p>
        <p>Sebastião desde cedo descobriu que a sua paixão estava na programação.</p>
        <p>Sebastiao_Leal@iscte-iul.pt</p>
        <p><a href = "mailto:Sebastiao_Leal@iscte-iul.pt?subject = Feedback&body = Message" class="button">Contacto</a></p>
      </div>
    </div>
  </div>

  <div class="column">

    <div class="card">
     <div id="center">
      <img src="{% static 'projeto/images/kiko.png' %}" alt="Francisco">
      </div>
      <div class="container">
        <h2>Francisco Quintela</h2>
        <p class="title">Informática e Gestão de Empresas @ ISCTE</p>
        <p>Diretamente da Chamusca, Francisco procura sempre a perfeição nos projetos.</p>
        <p>Francisco_Quintela@iscte-iul.pt</p>
        <p><a href = "mailto:Francisco_Quintela@iscte-iul.pt?subject = Feedback&body = Message" class="button">Contacto</a></p>
      </div>
    </div>
  </div>
</div>


{% endblock %}