{% extends "projeto/base.html" %}
{% load static %}



{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'projeto/sobre_nos.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'projeto/titles.css' %}" />
{% endblock %}


{% block content %}
<br></br>
<h1 style="text-align:center;text-shadow: 1px 1px 3px #6bba61;">Missão</h1>
<div class="texto">
 <h4 style="color: rgb(83, 83, 83)">A NEEDINS é uma plataforma que visa facilitar a entrega de bens essenciais nestes dias tão difíceis que vivemos. Com o decorrer da pandemia, a entrega de alimentos e outros bens não tem estado tão presente nas nossas vidas. O nosso objetivo tem como base a criação de um website no qual diversas organizações podem informar os utilizadores acerca dos nobres eventos que se vão realizar e tudo sobre eles (data, hora, localização, etc.), de modo a que se volte a ajudar os mais necessitados.</h6>
  </div>
<br></br>
<title>Needins - Sobre nós</title>

<h1 style="text-align:center;text-shadow: 1px 1px 3px #6bba61;">Equipa</h1>
<div class="row" style="background-color: #dfebe2">
  <div class="column">

    <div class="card">
      <div id="center">
      <img src="{% static 'projeto/images/nasci.png' %}" alt="Tomás">
      </div>
        <div class="container">
        <h2>Tomás Nascimento</h2>
        <p class="title">Informática e Gestão de Empresas @ ISCTE</p>
        <p>Natural de Lisboa, Tomás sempre gostou da área das tecnologias.</p>
        <p>Tomas_Nascimento@iscte-iul.pt</p>
        <p><a href = "mailto:Tomas_Nascimento@iscte-iul.pt?subject = Feedback&body = Message" class="button">Contacto</a></p>

      </div>
    </div>
  </div>

  <div class="column">

    <div class="card">
     <div id="center">
      <img src="{% static 'projeto/images/seb.png' %}" alt="Sebastião">
      </div>
      <div class="container">
        <h2>Sebastião Leal</h2>
        <p class="title">Informática e Gestão de Empresas @ ISCTE</p>
        <p>Sebastião desde cedo descobriu que a sua paixão estava na programação.</p>
        <p>Sebastiao_Leal@iscte-iul.pt</p>
        <p><a href = "mailto:Sebastiao_Leal@iscte-iul.pt?subject = Feedback&body = Message" class="button">Contacto</a></p>
      </div>
    </div>
  </div>

  <div class="column">

    <div class="card">
     <div id="center">
      <img src="{% static 'projeto/images/kiko.png' %}" alt="Francisco">
      </div>
      <div class="container">
        <h2>Francisco Quintela</h2>
        <p class="title">Informática e Gestão de Empresas @ ISCTE</p>
        <p>Diretamente da Chamusca, Francisco procura sempre a perfeição nos projetos.</p>
        <p>Francisco_Quintela@iscte-iul.pt</p>
        <p><a href = "mailto:Francisco_Quintela@iscte-iul.pt?subject = Feedback&body = Message" class="button">Contacto</a></p>
      </div>
    </div>
  </div>
</div>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock %}